<ol class="progress-bar">
  <li class="progress-bar__steps not-current">
    <span class="progress-bar__steps--numbers"></span>
    <span class="progress-bar__steps--text">Select a Bill</span>
  </li>
  <li class="progress-bar__steps current">
    <span class="progress-bar__steps--numbers"></span>
    <span class="progress-bar__steps--text">Make a Payment</span>
  </li>
  <li class="progress-bar__steps not-current">
    <span class="progress-bar__steps--numbers"></span>
    <span class="progress-bar__steps--text">Payment Confirmation</span>
  </li>
</ol>
