<div class="form-grid-container">
    <div class="form-content">
        <div class="card-body bg-white shadow rounded">
            <form [formGroup]="additionalInsuranceForm">
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-8">

                    </div>
                </div>
            </form>
            <div class="grid-row pt-3">
                <button type="submit" class="btn btn-primary left-button" routerLink="">Prev</button>
                <button type="submit" class="btn btn-primary right-button ">Next</button>
            </div>
        </div>
    </div>


