<table class="table table-primary ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Discount</th>
            <th scope="col">Percent</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Family discount</td>
            <td>15%</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Paying by frequency discount</td>
            <td>12%</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Payment method discount</td>
            <td>0%</td>
        </tr>
    </tbody>
</table>