.grid {


  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px 20px 33px 1fr;
  grid-template-areas:
    "n n n"
    ". . ."
    ". h ."
    "b c a ";
}

.content {
  grid-area: c;

}

.header{
  grid-area: h;
}

.niceBackground{
  height: 100vh;
  background: #e9ecef;
}

@media screen and (max-width: 1300px) {
  .grid{
    grid-template-columns: 0.54fr 2fr 0.54fr;
    grid-template-areas:
      "n n n"
      ". . ."
      ". h ."
      "b c a ";
  }
}

@media screen and (max-width: 770px) {
  .grid{
    grid-template-columns: none;
  }
}



