<div class="grid">
  <div class="progress-bar-custom">
    <div id="progress-bar-small">
      <app-progress-bar></app-progress-bar>
    </div>
  </div>
  <div class="form">
    <div id="main-element">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="discount">
    <div id="progress-discount-small">
      <app-discount-progress></app-discount-progress>
    </div>
  </div>
  <div class="footer-site">
    <div id="footer-small">
      <app-footer></app-footer>
    </div>
  </div>
</div>
