.grid {
  height: 100vh;
  background: #e9ecef;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px 20px 33px 1fr 50px 50px;
  grid-template-areas: "n n n" ". . ." ". h ." "b c a" ". . ." "f f f";
}

.content {
  grid-area: c;
}

.header {
  background: #e9ecef;
  grid-area: h;
}

.discount-grid {
  grid-area: a;
}

.foot {
  grid-area: f;
}


@media screen and (max-width: 1300px) {
  .grid {
    height: 100vh;
    grid-template-columns: 0.54fr 2fr 0.54fr;
    grid-template-areas: "n n n" ". . ." ". h ." "b c a " ". . ." "f f f";
  }
}

@media screen and (max-width: 770px) {
  .grid {
    height: 100vh;
    grid-template-columns: none;
    grid-template-rows: 50px 20px 33px 1fr 50px 400px 50px;
    grid-template-areas: "n" "." "h" "c" "." "d"  "f";
  }

  .discount-grid {
    grid-area: d;
    justify-content: center;
  }
  .content {
    grid-area: c;
  }
}



