<div class="justify-content-center ">
  <div class="grid-discount-progress-container ">
    <div class="percent">
      <div class="card shadow-lg p-1  mb-2  bg-white rounded">
        <div class="card-body">
          <div class="discounts-grid">
            <div class="grid-discount-table table-responsive">
              <app-discount-table></app-discount-table>
            </div>
            <div class="all-discount">
              <p class="text-center-grid " >All discount</p>
            </div>
            <div class="dis-grid">
             <app-percent-circle></app-percent-circle>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
