p {
    font-family: Lato;
}

.grid-discount-progress-comtainer {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50px 300px;
  grid-template-areas: ". ." "n ."

}

.percent {
  grid-area: n;
}

.discounts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 48px 48px 48px 48px;
  grid-template-areas: "a a2" "b b" "c c" "d d" "e e";
}

.dis-grid {
  grid-area: a;
}

.all-discount {
  grid-area: a2;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 20px 20px 20px;
  grid-template-areas: "b1 b2 b3" "c1 c2 c3" "d1 d2 d3";
}
.text-center-grid{
  grid-area: c2 ;
}
